<template>
    <h1>Hello, world!</h1>
    <p>${title}</p>
    <ul>
        <li><label t="about.happyPathText">happyPathText</label></li>
        <li><label t="about.similarkeyfallbacktest">similarkeyfallbacktest</label></li>
        <li><label t="languagefallbacktests">languagefallbacktests</label></li>
        <li><label t="business1:namespacefallbacktest">namespacefallbacktest</label></li>
        <li><label t="dateFormattedText" t-params.bind="{ date: today }">namespacefallbacktest</label></li>
    </ul>
</template>
